.alert-danger{
    background-color: #f8d7da;
}

nav{
    background-color: #78CAEF;
}

.azul{
    background-color: #78CAEF;
}
.blanco{
    color: white;
}
.negro, nav .brand-logo, nav ul a{
  color: #070B0E;
}
.btn:hover{
    background-color: #447992;
}

.responsive-img {
  max-width: 100%;
  height: auto;
  
}

h1 {
    font-size: 1em;
    margin: 0.5em 0;
  }

  .inputcentrado{
    text-align: center


    
  }

  .valign-wrapper {
    height: calc(100vh - 5em - 6em);
  }


@media (min-width:992px) {
    .img-pc {

        max-width: 300px;
        
      
    }
  }


  /*footer */

  html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
    margin-bottom: 5em;
  }

  footer {
   
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5em;
 
  
  }

  .textofooter{
    color:#070B0E;
    font-weight: bold;
  }

  /*fondo artista no encontrado*/

  .fondos{
      background-color: #FED05B;
   
      color: white;
     
  }

  .fondos #informaciongenerada p{
      font-size: 2em;
      color: #C69A69;
      font-weight: bold;
      
  }

  
  /*fondo artista encontrado*/

  .fondoEncontrado{
      background-color: #FED05C;
      transition: all .5s ease;
  }

  .mb-3{
      margin-bottom: 1em;
  }

  .mb-5{
    margin-bottom: 2em;
}
  /*videos del carousel*/


  .img-videos{
    max-width: 200px;
  }


  /*iconos de colores form de contacto */

  
  /* label color */
  .input-field label {
    color: white;
  }

  input, textarea {
    color: white;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #78CAEF;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #78CAEF;
    box-shadow: 0 1px 0 0 #78CAEF;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #78CAEF;
    box-shadow: 0 1px 0 0 #78CAEF;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #78CAEF;
    box-shadow: 0 1px 0 0 #78CAEF;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #78CAEF;
  }

  /*redes sociales*/

  .sociales{
    margin-top: 2em ;
  }

  .sociales ul li{
   display: inline;
   margin: 0 1em;
  }

body{
  background-color: #16151A;
}